<h2>Organizations</h2>
<button class="btn btn-primary" ng-click="organizationsCtrl.addOrganization()">Add Organization</button>
<table class="table table-condensed table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="organization in organizationsCtrl.organizations">
            <td>{{organization.name}}</td>
            <td class="text-center"><button class="btn btn-default btn-sm"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
