<h2>Pipeline</h2>
<div class="row">
    <div class="col-md-12">
        <button class="btn btn-primary" ng-click="pipelineCtrl.newDeal()">New Deal</button>
    </div>
</div>
<hr>
<div class="row">
    <div id="{{'stage-' + stage._id}}" class="col-md-15 pipeline-column" ng-repeat="stage in pipelineCtrl.stages" ui-sortable="pipelineCtrl.cardsSortableOptions"
        ng-model="stage.deals">

        <div class="panel-heading">
            <strong>{{::stage.name}}</strong>
            <p ng-if="stage.deals.length">{{stage.deals | sumByKey:'value' | currency:'R$ '}} - {{stage.deals.length}}</p>
        </div>
        <div class="card panel panel-default" ng-repeat="deal in stage.deals">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-10">
                        <p><strong><a ui-sref="app.deal({dealId: deal._id})">{{::deal.title}}</a></strong></p>
                        <p>{{::deal.value | currency:'R$ '}} - {{::deal.organization.name}}</p>
                    </div>
                    <div class="col-md-2">
                        <span><i class="fa fa-chevron-circle-right" 
                            uib-popover popover-title="Tasks" 
                            popover-placement="auto"
                            popover-trigger="'click outsideClick'"
                            uib-popover-template="'deal-tasks.html'"></i></span>
                    </div>
                </div>
            </div>

            <script type="text/ng-template" id="deal-tasks.html">
                <deal-notes deal="deal"></deal-notes>
            </script>
        </div>
    </div>
</div>