<div ng-controller="DashboardController as dashCtrl">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Total em Vendas</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ dashCtrl.totalSales | currency:'R$ ' }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Número de Vendas</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ dashCtrl.countSales }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ticket Médio</h3>
                </div>
                <div class="panel-body">
                    <h2>{{ dashCtrl.averageTicket | currency:'R$ ' }}</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Vendas por Mês</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="dashCtrl.d3Options" data="dashCtrl.data"></nvd3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Ticket Médio por Mês</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="dashCtrl.d3Options" data="dashCtrl.dataAverageTicketByMonth"></nvd3>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Vendas Últimos 30 dias</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="dashCtrl.d3Options" data="dashCtrl.dataLast30Days"></nvd3>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Vendas Últimos 7 dias</h3>
                </div>
                <div class="panel-body">
                    <nvd3 options="dashCtrl.d3Options" data="dashCtrl.dataLastDays"></nvd3>
                </div>
            </div>
        </div>
    </div>
</div>