<h2>Dashboard</h2>
<!--<div class="hidden">
    <button class="btn btn-default" ng-click="main.permission()">
        <i class="fa fa-google" aria-hidden="true"></i> Google Permission
    </button>
    <button class="btn btn-default" ng-click="main.authorize(main.google)">
        <i class="fa fa-google" aria-hidden="true"></i> Google Auth
    </button>

    <div class="form-group">
        <label>Permission Code</label>
        <input class="form-control" type="text" ng-model="main.google.code">
    </div>

    <hr>
</div>-->
<!-- <x-button ng-click="main.showFacebookAuthDialog()">Facebook Auth</x-button> -->
<button class="btn btn-success" ng-click="main.showFacebookAuthDialog()">Facebook Auth</button>
<x-box vertical>
    <div uib-alert close="main.closeAlert()" dismiss-on-timeout="6000" class="alert alert-danger" ng-if="main.error">{{main.error}}</div>
    <h3><i class="fa fa-calendar" aria-hidden="true"></i> Google Calendar</h3>
    <h4>Next Events</h4>
    <ul>
        <li ng-repeat="event in main.events">{{event.summary}} em {{event.start.dateTime || event.start.date | date:'dd/MM/yyyy'}} às {{event.start.dateTime ||
            event.start.date | date:'HH:mm'}}</li>
    </ul>
</x-box>