<button class="btn btn-default" ng-click="main.permission()">Google Permission</button>
<button class="btn btn-default" ng-click="main.authorize(main.google)">Google Auth</button>
<div class="form-group">
    <label>Permission Code</label>
    <input class="form-control" type="text" ng-model="main.google.code">
</div>
<hr>
<h3>Next Events in Google Calendar</h3>
<form>
    <div class="form-group">
        <label>Summary</label>
        <input class="form-control" type="text" ng-model="main.event.summary">
    </div>
    <div class="form-group">
        <button class="btn btn-primary" ng-click="main.save(main.event)">Save</button>
    </div>
</form>
<ul>
    <li ng-repeat="event in main.events">{{event.summary}} - {{event.start.dateTime || event.start.date | date:'dd/MM/yyyy'}}</li>
</ul>