<div class="container-fluid">

     <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <a class="navbar-brand" ui-sref="app.dashboard">{{nav.name}}</a>
        <ul class="nav navbar-nav">
            <li ui-sref-active="active">
                <a ui-sref="app.dashboard">Dashboard</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.doLists">Do Lists</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.pipeline">Pipeline</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.activities">Activities</a>
            </li>
            <li uib-dropdown uib-dropdown-toggle><a ui-sref-active="active">Contacts</a>
                <ul uib-dropdown-menu>
                    <li ui-sref-active="active">
                        <a ui-sref="app.persons">Persons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.organizations">Organizations</a>
                    </li>
                </ul>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.sales">Sales</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="app.products">Products</a>
            </li>
        </ul>
    </nav> 
</div>