body { padding-top: 70px; }

.navbar-default {
    background-color: #4afc8b;
}

.do-lists-container {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.do-list-panel {
    width: 100%;
    display: inline-block;
}

.do-list-panel .panel-body ul {
    padding-left: 0;
}

.do-list-panel .panel-body ul li {
    list-style: none;
}

.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo-list .todo-list-item {
    height: 30px;
    border-bottom: 1px solid #ddd;
}