 body { padding-top: 70px; } 

.navbar-default {
    background-color: #6B4FBB;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fba225;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fba225;
}

.panel-default>.panel-heading {
    color: #fff;
    background-color: #6B4FBB;
}

.panel-default>.panel-heading a, .panel-default>.panel-heading a:hover {
    color: #fff;
}

.btn-primary {
    background-color: #fba225;
    border-color: #FC6D26;
}

.do-lists-container {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.do-list-panel {
    width: 100%;
    display: inline-block;
}

.do-list-panel .panel-body ul {
    padding-left: 15px;
}

.do-list-panel .panel-body ul li {
    list-style-type: circle;
}

.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo-list .todo-list-item {
    height: 30px;
    border-bottom: 1px solid #ddd;
}

.done {
    text-decoration: line-through;
}