body { padding-top: 70px; }

.navbar-default {
    background-color: #4afc8b;
}

.do-list-panel {
    width: 360px;
    float: left;
    margin-right: 20px;
}

.do-list-panel .panel-body ul {
    padding-left: 0;
}

.do-list-panel .panel-body ul li {
    list-style: none;
}

.todo-list {
    list-style: none;
    padding-left: 0;
}

.todo-list .todo-list-item {
    height: 30px;
    border-bottom: 1px solid #ddd;
}