<form name="editItemCtrl.formEditItem">
    <div class="modal-header">
        <p><strong>Item</strong></p>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" ng-model="editItemCtrl.item.quantity" class="form-control" id="quantity" placeholder="0.00000">
        </div>
        <div class="form-group">
            <label for="discount">Discount (%)</label>
            <input type="text" ng-model="editItemCtrl.item.discount" class="form-control" id="discount" placeholder="0.00">
        </div>
        <div class="form-group">
            <label for="retailPrice">Retail Price</label>
            <input type="text" ng-model="editItemCtrl.item.unitPrice" class="form-control" id="retailPrice" placeholder="0.00">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="editItemCtrl.finish(editItemCtrl.item)">Save</button>
    </div>
</form>