<h2>Sales</h2>
<button class="btn btn-primary" ng-click="salesCtrl.newSale()">Teste Venda</button>
<a class="btn btn-primary" ui-sref="app.pos">Nova Venda</a>
<hr>
<table class="table table-condensed table-hover table-bordered table-striped table-responsive">
    <thead>
        <tr>
            <th>Data/Hora</th>
            <th>Cliente</th>
            <th>Subtotal</th>
            <th>Desconto</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="sale in salesCtrl.sales">
            <td>{{ sale.date | date}}</td>
            <td> - </td>
            <td>{{ sale.subtotal | currency:'R$ ' }}</td>
            <td>{{ sale.desconto | currency:'R$ ' }}</td>
            <td>{{ sale.subtotal | currency:'R$ ' }}</td>
        </tr>
    </tbody>
</table>