.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
    
.pipeline-column {border: 1px solid #ccc; min-height: 500px; background: #eee}
.placeholder {border: 1px dashed #000;}
.deal-value {font-size: 18px; font-weight: bold}
.popover {width: 300px;}
.fa-chevron-circle-right {color: #ccc; font-size: 16px;}

